---

import { getLocalizedProjects } from '../../utils/projects';
import { getLocale, setLocale, locales, localizeHref } from '../../paraglide/runtime';
import { m } from '../../paraglide/messages';

const currentLocale = getLocale() || 'es';
const projects = await getLocalizedProjects(currentLocale);
---

<div class="w-full h-fit py-4 pb-8 flex flex-col gap-4">
  {projects.length > 0 ? (
    <div class="flex flex-col gap-2 group/list">
      {projects.map(project => {
        const projectName = project.id.split('/')[0];
        return (
          <a href={(`/projects/${projectName}`)} class="group/item *border *border-gray-200 p-4 flex flex-col md:flex-row gap-2 hover:lg:bg-(--text-grayRGBA)">
            <div class="flex-none aspect-video relative h-20 w-fit border border-gray-200 overflow-hidden flex items-center justify-center">
                {
                project.data.coverImage ? 
                <img src={project.data.coverImage} alt={project.data.coverAlt} class="absolute grayscale inset-0 h-full w-full object-cover group-hover/item:scale-110 group-hover/item:grayscale-0 transition-transform duration-500 ease-in-out border-none"/>
                : 
                <div class="absolute bg-gray-200 w-full h-full text-[--text] flex flex-col items-center justify-center">
                    <span class="material-symbols-rounded text-2xl">
                        image
                    </span>
                    <span>{m['projects.no_image']()}</span>
                </div>
                }
            </div>
            <div>
              <h2 class="w-full text-lg font-bold group-hover/item:text-blue-500/80 flex flex-row">
              {project.data.title}
              &nbsp;
              {
                project.data.featured &&
                <span class="material-symbols-rounded w-fit h-fit font-mono tracking-normal text-xs/8 text-blue-500">
                  star
                </span>
              }
              </h2>
              {project.data.description && (
                <p class="text-gray-500 text-sm py-2">{project.data.description}</p>
              )}
              {project.data.technologies.length > 0 && (
                <div class="w-full flex flex-row flex-wrap gap-2 text-sm items-center justify-start overflow-y-auto overflow-x-hidden">
                  {project.data.technologies.map((tech, index) => (
                    <span class="capitalize text-xs/6 font-mono px-2 bg-blue-500/70 text-white rounded-full flex-none flex items-center justify-center gap-1"> 
                        <i class={"icon icon-"+tech}></i>
                        {tech.replace('-',' ')}
                    </span>
                  ))}
                </div>
              )}
            </div>
          </a>
        );
      })}
    </div>
  ) : (
    <p>{m['last_projects.no_items']()}</p>
  )}
</div>
